@using ecommerce.Models
@model Category

<form method="post" action="/Admin/Categories/Update">
    <input type="hidden" name="id" value="@Model.Id" class="form-control" id="categoryName" placeholder="Enter category Name...">

    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" name="name" value="@Model.Name" class="form-control" id="categoryName" placeholder="Enter category Name...">
        <span class="text-danger" asp-validation-for="Name"></span>
        <input type="text" name="description" value="@Model.Description" class="form-control mt-3" id="categoryName" placeholder="Enter category Description...">

    </div>
    <button type="submit" class="btn mt-3 btn-outline-success btn-lg">Edit</button>
</form>